p {
  font-family: 'Fira Mono', monospace;
  color: green;
}

#font {
  font-family: 'Fira Mono', monospace;
}

nav{
  font-family: 'Fira Mono', monospace;
}

h1{
  font-family: 'Fira Mono', monospace;
}
/* Styling Navbar text to be white, active link is still black */

.navbar-brand, .nav-link{
  color: white;
}

/* Styling footer images to make them smaller */
footer img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.latestArticle {
  background-color: red;
}

.latestWriteUp {
  background-color: blue;
}

html,
body {
  height: 100%;
  margin: 0;
}

.contact {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}