p{
  font-family: 'Fira Mono', monospace;
  color: green;
}

#font {
  font-family: 'Fira Mono', monospace;
}

nav{
  font-family: 'Fira Mono', monospace;
}

h1, h2, h3{
  font-family: 'Fira Mono', monospace;
  margin-top: 10px;
  color: white;
}

.card-header, .card-title{
  color: white;
}

/* Styling Navbar text to be white, active link is still black */
.navbar-brand, .nav-link{
  color: white;
}


#calanderArea{
  float: right;
}

#calanderArea p{
  color: white;
  margin-top: 6%;
  margin-bottom: 0px;
}

#calanderIcon{
  width: 25px;
  height: 25px;
}

/* Styling footer images to make them smaller */
footer img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.articleImg{
  width: 1230px;
  height: 500px;
}

.latestArticle {
  background-color: #252626;
}

.articleHeader{
  color: white;
}

.latestWriteUp {
  background-color: #252626;
} 

html,
body {
  background-color: #252626;
  height: 100%;
  margin: 0;
}

li{
  font-family: 'Fira Mono', monospace;
  color:green;
}

.card{
  background-color: #3d3e3e;
}

.contact {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}